.list-gifs {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

.search-box {
    padding: 1rem;
    background: cornflowerblue;
    margin-bottom: 1rem;
    box-shadow: 0px 6px 8px rgba(28, 28, 28, 0.08);
}

.gif {
    padding-right: 0.2rem;
}